@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgba(235, 235, 235, 0.64);
  transition: 0.4s;
  padding: 3px;
}

.router-link-active {
  color: #ffc107 !important;
}

.yellow {
  color: #ffc107;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Supprimer les flèches sur Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

@media (max-width: 768px) {
  .cd {
    height: 100%;
    border-radius: unset !important;
    padding: 1rem !important;
    padding-top: 4rem !important;
  }
}
